<!DOCTYPE html>
<html>
    <head>
        <title>Web de recetas</title>
    </head>
    <body>
        <h1>Web de recetas</h1>
         <ul id="navigation">
        <li>
        	<a href ="{{ url('recipes_index')}}">Empezamos</a>
        </li>
        </ul>
    </body>
</html>
