<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
    </head>
    <body>
        <h1>Web de recetas</h1>
         <ul id="navigation">
        <li>
        	<a href ="">Empezamos</a>
        </li>
        <li>
        	<a href ="{{ url('ingredients_list')}}">Ingredientes</a>
        </li>
        <li>
        	<a href ="{{ url('author_list')}}">Autores</a>
        </li>
        </ul>
    </body>
</html>
